db#db_pp_files(name="files")
   d(name="tex_black"             path="textures/tex_black.png"           preload="1")
   d(name="tex_grey"              path="textures/tex_grey.png"            preload="2")
   d(name="tex_white"             path="textures/tex_white.png"           preload="1")
   d(name="timber_square_clay"    path="textures/timber_square_clay.png"  preload="2")
   d(name="floor_tiles_blue_small_damaged" path="textures/floor_tiles_blue_small_damaged.png" preload="2")
   d(name="floor_wood_planks_wide" path="textures/floor_wood_planks_wide.png" preload="2")
   d(name="basic_vs"              path="glsl/basic.vs"                    preload="1")
   d(name="basic_fs"              path="glsl/basic.fs"                    preload="1")
   d(name="model_vs"              path="glsl/model.vs"                    preload="1")
   d(name="model_fs"              path="glsl/model.fs"                    preload="1")

db#db_pp_shaders(name="shaders")
   d(name="basic"                 vs="basic_vs"                           fs="basic_fs")
   d(name="model"                 vs="model_vs"                           fs="model_fs")

db#db_pp_models(name="models")
   d(name="box"                   shader="model"                          type="box" texture="tex_white" w="1" h="1" d="1")
   d(name="box_timber"            inherits="box"                          texture="timber_square_clay")